---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import {
  AwardIcon,
  BadgeDollarSignIcon,
  BanknoteIcon,
  Clock3Icon,
  FlagTriangleRightIcon,
  MapPinIcon,
  MessageCircleMoreIcon,
  UserRoundIcon,
} from "@lucide/astro";

type Props = CollectionEntry<"events">["data"];
const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  eventDateTime,
  eventLocationName,
  tags,
  eventEndDateTime,
  eventSignupLink,
  eventLocationAddress,
  eventMeetup,
  eventMeetupTime,
  eventJoinLimit,
  eventSignUpDeadline,
  eventPrice,
  eventContact,
  eventEligibility,
  eventEligibilityDetails,
} = Astro.props;
---

{
  heroImage && (
    <Image
      width={1020}
      height={510}
      src={heroImage}
      alt={title}
      class="hero-image"
    />
  )
}

<h1>{title}</h1>

<div class="layout" data-theme={Astro.props.eventTheme ?? "walk"}>
  <aside class="sidebar">
    <div class="info-group-wrapper">
      <div class="info-group">
        <Clock3Icon />
        <div>
          <strong class="sr-only">Date & Time:</strong>
          <FormattedDate date={eventDateTime} includeTime />
          {
            eventEndDateTime && (
              <>
                {" "}
                -{" "}
                <FormattedDate
                  date={eventEndDateTime}
                  includeDate={false}
                  includeTime
                />
              </>
            )
          }
        </div>
      </div>

      <div class="info-group">
        <MapPinIcon />
        <div>
          <span class="sr-only">Location:</span>
          {eventLocationName}
          {
            eventLocationAddress && (
              <span class="subtle">{eventLocationAddress}</span>
            )
          }
        </div>
      </div>

      {
        eventPrice !== undefined && (
          <div class="info-group">
            <BanknoteIcon />

            <div>
              <span class="sr-only">Price:</span>
              {eventPrice === 0 ? "Free" : `$${eventPrice}`}
            </div>
          </div>
        )
      }
    </div>

    {
      eventSignupLink ? (
        <a href={eventSignupLink} class="btn">
          Register Now
        </a>
      ) : (
        <hr />
      )
    }

    {
      (eventMeetup || eventContact || eventEligibility || eventJoinLimit) && (
        <div class="add-info">
          <h2>Additional Information</h2>

          <div class="info-group-wrapper">
            {eventMeetup && (
              <div class="info-group">
                <FlagTriangleRightIcon />
                <div>
                  <span>Meetup:</span> {eventMeetup}
                  {eventMeetupTime && (
                    <>
                      {" "}
                      at{" "}
                      <FormattedDate
                        date={eventMeetupTime}
                        includeDate={false}
                        includeTime
                      />
                    </>
                  )}
                </div>
              </div>
            )}
            {eventContact && (
              <div class="info-group">
                <MessageCircleMoreIcon />
                {/* if starts with @, assume is telegram handle and link accordingly
                if not , display as plaintext */}
                <div>
                  <span>Contact:</span>{" "}
                  {eventContact.startsWith("@") ? (
                    <a
                      href={`https://t.me/${eventContact.slice(1)}`}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {eventContact}
                    </a>
                  ) : (
                    eventContact
                  )}
                </div>
              </div>
            )}
            {eventEligibility && (
              <div class="info-group">
                <AwardIcon />
                <div>
                  <span>Eligibility:</span>{" "}
                  {eventEligibility === "students"
                    ? "Students only"
                    : "Open to all"}
                  {eventEligibilityDetails && (
                    <span class="subtle">{eventEligibilityDetails}</span>
                  )}
                </div>
              </div>
            )}
            {eventJoinLimit && (
              <div class="info-group">
                <UserRoundIcon />
                <div>
                  <span class="sr-only">Join Limit:</span>
                  Limited to {eventJoinLimit} participants
                </div>
              </div>
            )}
          </div>
        </div>
      )
    }
  </aside>

  <div class="content">
    {
      tags && (
        <div class="tag-container">
          {tags.map((tag) => (
            <span class="tag">#{tag}</span>
          ))}
        </div>
      )
    }
    <div class="prose">
      <slot />
    </div>
  </div>
</div>

<style>
  .hero-image img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 2em;
  }
  .layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    margin-top: 1rem;
  }

  h1 {
    margin-top: 2rem;
    margin-bottom: 0rem;
    font-size: 3rem;
  }

  .sidebar {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .content {
    order: 2;
  }

  .info-group-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .info-group {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 1rem;
  }
  .info-group svg {
    margin-top: 2px;
    width: 1.2rem;
    height: 1.2rem;
    flex-shrink: 0;
  }
  .subtle {
    display: block;
    font-size: 0.9rem;
    color: var(--color-track-gray-500);
  }
  .add-info {
    padding: 0.8rem 1.2rem;
    /* background: var(--color-track-gray-100); */
    background: #e3e8ea88;
    border-radius: 1rem;
  }
  .tag-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .tag {
    background: var(--color-track-gray-100);
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  .btn {
    display: inline-block;
    background: var(--color-track-gray-500);
    color: #fff;
    padding: 0.8rem 1.2rem;
    border-radius: 999px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
  }
  [data-theme="bus"] .btn {
    background: var(--color-bus-blue-500);
  }
  [data-theme="mrt"] .btn {
    background: var(--color-mrt-red-500);
  }
  [data-theme="walk"] .btn {
    background: var(--color-walk-orange-500);
  }

  .sidebar h2 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--color-track-gray-600);
  }

  @media (min-width: 768px) {
    .layout {
      flex-direction: row;
      align-items: flex-start;
      gap: 2rem;
    }
    .sidebar {
      order: 2;
      width: 330px;
      padding-left: 2rem;
      border-left: 1px solid var(--color-track-gray-300);
      gap: 1rem;
    }

    .btn {
    }
    .content {
      order: 1;
      flex: 1;
    }

    .prose > :global(p):first-child {
      margin-top: 0;
    }
  }
</style>
